



.content{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;




}
.item{
  padding: 50px;
  margin: 50px;

  display: inline-block;
  /* border: 1px solid; */
  padding: 10px;
  box-shadow: 1px 2px #888888;
}
.item:hover{

    background-color: rgb(219, 219, 199);

}
nz-card{
  align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 40px;
  visibility: visible;
  /* //transform-style: random($limit: 1); */
}
nz-card-meta{
  text-align: center;
  left: 200px;
  top: 90px;
  bottom: 100px;
  flex-direction: row;
}


